body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  font-weight: 400;
  font-style: normal;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}
ul,
menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.test {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-item:first-child {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.nav-item:nth-child(n + 2) {
  margin-right: 46px;
}
.cnav-item:first-child {
  margin-right: 30px;
}
a > svg {
  margin-right: 10px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header-borders {
  border-bottom: 1px solid #ececec;
}
.navigation {
  color: #212121;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.navigation-button {
  color: inherit;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  font-weight: 500;
}
.active-button {
  color: #2196f3;
}
.navigation-button:hover,
.contacts-button:hover,
.contact-below:hover,
.gps:hover {
  color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-button:focus,
.contacts-button:focus,
.contact-below:focus,
.gps:focus {
  color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-buttons {
  color: #757575;
  list-style: none;
  display: flex;
  align-items: center;
}
.contacts-button {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.your-business {
  color: #ffffff;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
}
.background-business {
  background-image: linear-gradient(#2f303a66, #2f303a66),
    url(https://github.com/KZapal/goit-markup-hw-04/blob/main/images/effective_solutions/people_at_work.jpg?raw=true);
  background-color: #2f303a66;
  max-width: 1600px;
  height: 600px;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 97px;
  margin: auto;
}
.business-block {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}
.order-service {
  background: #2196f3;
  border: 0px solid #2196f3;
  border-radius: 4px 4px 4px 4px;
  padding: 10px 41px 10px 42px;
  width: 200px;
  height: 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
}
.lorem-position {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px;
  align-content: space-between;
}
.lorem-list-item {
  flex-basis: calc((100% - 90px) / 4);
}
.lorem-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}
.lorem-text {
  color: #757575;
  font-size: 14px;
  line-height: 1, 5;
  margin: 10px auto;
}
.what-we-do {
  margin-bottom: 50px;
  margin-top: 94px;
}
.we-do-list {
  display: flex;
  justify-content: space-between;
  margin-left: 0 auto;
}
.we-do-item:nth-child(-n + 2) {
  margin-right: 30px;
}
.team-background {
  background: #f5f4fa;
}
.our-team {
  margin-bottom: 49px;
}
.team-list-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  padding: 0px;
  text-align: center;
}
.team-list-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}
.member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.job-position {
  color: #757575;
  font-size: 16px;
  line-height: 1.2;
}
.description-below {
  background-color: #2f303a;
}
.gps {
  color: #ffffff;
}
.contacts-below {
  color: #757575;
  list-style: none;
}
.contact-below {
  color: inherit;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
.logo-below {
  padding-top: 60px;
  margin-bottom: 20px;
  margin-top: 0px;
}
.contact-item-below:nth-child(-n + 2) {
  margin-bottom: 9px;
}
.contact-item-below:last-child {
  padding-bottom: 60px;
}
.blue-part {
  color: #2196f3;
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
}
.white-part {
  color: #ffffff;
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
}
.black-part {
  color: #000000;
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
}
.project-categories {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.project-categories > li:hover,
.project-categories > li:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.category-item:nth-child(-n + 4) {
  margin-right: 8px;
}
.category-button {
  color: inherit;
  background-color: #f5f4fa;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: #f5f4fa;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
}
.category-button:hover,
.category-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.project-type {
  color: #757575;
  font-size: 16px;
  line-height: 2;
}
.our-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.project-item {
  border: 1px solid #eeeeee;
  border-top: 0px;
  padding: 20px 24px;
  margin-top: -4px;
}
.our-projects > li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.contacts-icon {
  fill: #757575;
}
.contacts-icon:hover,
.contacts-button:hover {
  fill: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-icon:focus,
.contacts-button:focus {
  fill: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.lorem-background {
  background: #f5f4fa;
  padding: 25px 100px;
}
.media-icon-background {
  fill: #afb1b8;
  background: #ffffff;
  display: inline-flex;
  gap: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  margin-bottom: 30px;
}
.media-icon-background:hover {
  fill: #ffffff;
  background-color: #2196f3;
  padding: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.media-icon-background:focus {
  fill: #ffffff;
  background: #2196f3;
  padding: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients {
  margin-top: 0px;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  cursor: pointer;
}
.client-item {
  fill: #afb1b8;
}
.client-item:hover,
.client-item:focus {
  fill: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.border-client {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 0px;
}

.border-client:hover,
.border-client:focus {
  border: 1px solid #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-background {
  fill: #ffffff;
  background: #ffffff1a;
  display: inline-flex;
  gap: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  margin-bottom: 30px;
  cursor: pointer;
}
.footer-icon-background:hover,
.footer-icon-background:focus {
  fill: #ffffff;
  background: #2196f3;
  padding: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.position-below {
  display: flex;
  align-items: baseline;
}
.join-us {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  margin-bottom: 20px;
  color: #ffffff;
}
.adress-container {
  margin-right: 70px;
}
.footer-icon-background:nth-child(-n + 4) {
  margin-right: 10px;
}
.we-do-list div {
  position: relative;
}
.we-do-list p {
  color: #ffffff;
  background: #2f303acc;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  position: absolute;
  text-align: center;
  padding: 27px;
  bottom: -10px;
}
.project-animation > img {
  position: relative;
}
.project-animation > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

  color: #ffffff;
  background: #2196f3e6;
  text-align: left;
  padding: 49px 45px 49px 24px;
  margin: 0;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(+110%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-animation:hover p,
.project-animation:focus p {
  cursor: pointer;
  transform: translateY(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-animation {
  position: relative;
  overflow: hidden;
}
a[href='index.html']:hover::after {
  content: '';
  display: block;
  position: absolute;
  width: 54px;
  height: 4px;
  color: #2196f3;
  background-color: #2196f3;
  border-radius: 2px;
  margin-top: 28px;
}
a[href='portfolio.html']:hover::after {
  content: '';
  display: block;
  position: absolute;
  width: 58px;
  height: 4px;
  color: #2196f3;
  background-color: #2196f3;
  border-radius: 2px;
  margin-top: 28px;
}
.active-index,
.active-portfolio {
  color: #2196f3;
}
.active-index::after {
  content: '';
  display: block;
  position: absolute;
  width: 54px;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  margin-top: 28px;
}
.active-portfolio::after {
  content: '';
  display: block;
  position: absolute;
  width: 58px;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  margin-top: 28px;
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.2);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
}
.close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #0000001a;
  border-radius: 50%;
  text-decoration: bold;
  text-transform: uppercase;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.newsletter {
  margin-left: 78px;
}
.newsletter h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 20px;
}
.newsletter-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  padding-left: 16px;
  margin-right: 12px;
}
.newsletter-input:focus {
  border: 1px solid #2196f3;
}
.newsletter button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgb(33, 150, 243);
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.newsletter svg {
  fill: #ffffff;
}
.newsletter-btn-text {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1;
  margin-right: 24px;
}
.in-button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.modal {
  width: 528px;
  height: 581px;
}
.modal-form {
  padding: 40px;
}
.modal-form p {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 12px;
}
.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: #757575;
  letter-spacing: 0.01em;
}
.form-area {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  position: relative;
  width: 448px;
  height: 40px;
  margin-bottom: 10px;
}
input[type='text'],
input[type='tel'],
input[type='email'] {
  outline: none;
  border: 0;
  width: 100%;
  height: 100%;
  padding-left: 42px;
  padding-right: 12px;
}
input[type='text']:focus,
input[type='tel']:focus,
input[type='email']:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-area .form-icon:focus {
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon {
  position: absolute;
  margin: 11px 12px;
  fill: #212121;
}
.statement {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
}
.checkbox {
  display: flex;
  justify-content: center;
  gap: 7px;
}
.send-btn {
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border: 1px solid #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 30px;
  margin-left: 25%;
}
.form-text {
  margin-bottom: 20px;
}
