body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  font-weight: 400;
  font-style: normal;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}
ul,
menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.main-header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-links__item:first-child {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.page-links__item:nth-child(n + 2) {
  margin-right: 46px;
}
.contacts-links__item:first-child {
  margin-right: 30px;
}
a > svg {
  margin-right: 10px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.main-header {
  border-bottom: 1px solid #ececec;
}
.main-header__page-links {
  color: #212121;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.page-links__link {
  color: inherit;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  font-weight: 500;
}
.active-button {
  color: #2196f3;
}
.page-links__link:hover,
.contacts-links__link:hover,
.adress-links__link:hover,
.adress-links__link--gps:hover {
  color: #2196f3;
  fill: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-links__link:focus,
.contacts-links__link:focus,
.adress-links__link:focus,
.adress-links__link--gps:focus {
  color: #2196f3;
  fill: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-header__contacts-links {
  color: #757575;
  list-style: none;
  display: flex;
  align-items: center;
}
.contacts-links__link {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  fill: #757575;
}
.service-block__heading {
  color: #ffffff;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
}
.service-block {
  background-image: linear-gradient(#2f303a66, #2f303a66),
    url(https://github.com/KZapal/goit-markup-hw-04/blob/main/images/effective_solutions/people_at_work.jpg?raw=true);
  background-color: #2f303a66;
  max-width: 1600px;
  height: 600px;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 97px;
  margin: auto;
}
.service-block__content {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}
.btn {
  color: #ffffff;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgb(33, 150, 243);
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1;
  cursor: pointer;
}
.service-block__btn {
  padding: 10px 41px 10px 42px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
}
.testimonials {
  padding-bottom: 0;
}
.testimonials__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px;
  align-content: space-between;
}
.lorem-list__item {
  flex-basis: calc((100% - 90px) / 4);
}
.lorem-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}
.lorem-list__paragraph {
  color: #757575;
  font-size: 14px;
  line-height: 1, 5;
  margin: 10px auto;
}
.work-gallery__list {
  margin-bottom: 50px;
  margin-top: 94px;
}
.work-gallery {
  display: flex;
  justify-content: space-between;
  margin-left: 0 auto;
}
.list-images__item:nth-child(-n + 2) {
  margin-right: 30px;
}
.team-section {
  background: #f5f4fa;
}
.team-section__heading {
  margin-bottom: 49px;
}
.team-section__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  padding: 0px;
  text-align: center;
}
.members-list__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}
.members-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.members-list__workplace {
  color: #757575;
  font-size: 16px;
  line-height: 1.2;
}
.main-footer {
  background-color: #2f303a;
}

.main-footer__adress-links {
  color: #757575;
  list-style: none;
}
.adress-links__link {
  color: #757575;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
.logo--below {
  padding-top: 60px;
  margin-bottom: 20px;
  margin-top: 0px;
}
.adress-links__item {
  color: #757575;
}
.adress-links__item:nth-child(-n + 2) {
  margin-bottom: 9px;
}
.adress-links__item:last-child {
  padding-bottom: 60px;
}
.logo {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
}
.logo__blue-part {
  color: #2196f3;
}
.logo__white-part {
  color: #ffffff;
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
}
.logo__black-part {
  color: #000000;
}
.project-cards__menu {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  gap: 8px;
}
.project-cards__menu > li:hover,
.project-cards__menu > li:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-tables__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.cards-tables__type {
  color: #757575;
  font-size: 16px;
  line-height: 2;
}
.project-cards__tables {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.cards-tables__table {
  border: 1px solid #eeeeee;
  border-top: 0px;
  padding: 20px 24px;
  margin-top: -4px;
}
.project-cards__tables > li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.lorem-list__background {
  background: #f5f4fa;
  padding: 25px 100px;
}
.members-list__media-icon {
  fill: #afb1b8;
  background: #ffffff;
  display: inline-flex;
  gap: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  margin-bottom: 30px;
}
.media-icon:hover {
  fill: #ffffff;
  background-color: #2196f3;
  padding: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.media-icon:focus {
  fill: #ffffff;
  background: #2196f3;
  padding: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-section__heading {
  margin-top: 0px;
  margin-bottom: 50px;
}
.clients-section__list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  cursor: pointer;
}
.clients-list__item {
  fill: #afb1b8;
}
.clients-list__item:hover,
.clients-list__item:focus {
  fill: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__icon {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 0px;
}

.clients-list__icon:hover,
.clients-list__icon:focus {
  border: 1px solid #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__icon {
  fill: #ffffff;
  background: #ffffff1a;
  display: inline-flex;
  gap: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  margin-bottom: 30px;
  cursor: pointer;
}
.social-media__icon:hover,
.social-media__icon:focus {
  fill: #ffffff;
  background: #2196f3;
  padding: 12px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-footer__content {
  display: flex;
  align-items: baseline;
  gap: 70px;
}
.social-media__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  margin-bottom: 20px;
  color: #ffffff;
}
.social-media__icon:nth-child(-n + 4) {
  margin-right: 10px;
}
.list-images__wrapper {
  position: relative;
}
.list-images__paragraph {
  color: #ffffff;
  background: #2f303acc;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  position: absolute;
  text-align: center;
  padding: 27px;
  bottom: -10px;
}
.cards-tables__img {
  position: relative;
}
.cards-tables__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

  color: #ffffff;
  background: #2196f3e6;
  text-align: left;
  padding: 49px 45px 49px 24px;
  margin: 0;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(+110%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-tables__animation:hover p,
.cards-tables__animation:focus p {
  cursor: pointer;
  transform: translateY(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-tables__animation {
  position: relative;
  overflow: hidden;
}
a[href='index.html']:hover::after {
  content: '';
  display: block;
  position: absolute;
  width: 54px;
  height: 4px;
  color: #2196f3;
  background-color: #2196f3;
  border-radius: 2px;
  margin-top: 28px;
}
a[href='portfolio.html']:hover::after {
  content: '';
  display: block;
  position: absolute;
  width: 58px;
  height: 4px;
  color: #2196f3;
  background-color: #2196f3;
  border-radius: 2px;
  margin-top: 28px;
}
.page-links__link--active-index,
.page-links__link--active-portfolio {
  color: #2196f3;
}
.page-links__link--active-index::after {
  content: '';
  display: block;
  position: absolute;
  width: 54px;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  margin-top: 28px;
}
.adress-links__link--gps {
  color: #ffffff;
}
.page-links__link--active-portfolio::after {
  content: '';
  display: block;
  position: absolute;
  width: 58px;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  margin-top: 28px;
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.2);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
}
.close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #0000001a;
  border-radius: 50%;
  text-decoration: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.main-footer__form {
  margin-left: 8px;
}
.newsletter-form__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 20px;
}
.newsletter-form__input {
  color: #ffffff;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  background-color: inherit;
  padding-left: 16px;
  margin-right: 12px;
}
.newsletter-form__input:focus {
  border: 1px solid #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.send-icon {
  fill: #ffffff;
}
.main-footer__btn {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 24px;
}
.modal {
  width: 528px;
  height: 581px;
}
.modal-form {
  padding: 40px;
}
.modal-form__heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 12px;
  margin-top: 0;
}
.modal-form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: #757575;
  letter-spacing: 0.01em;
}
.modal-form__area {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  position: relative;
  width: 448px;
  height: 40px;
  margin-bottom: 10px;
}
.modal-form__input {
  border: 0;
  outline: none;
  width: 100%;
  height: 100%;
  padding-left: 42px;
  padding-right: 12px;
}
.modal-form__input:focus,
textarea:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__icon {
  position: absolute;
  left: 0;
  margin: 11px 12px;
  fill: #212121;
}
.modal-form__input:focus + .modal-form__icon {
  fill: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-area {
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
textarea {
  outline: none;
  border: 0;
  padding: 12px 16px;
  margin-bottom: 20px;
}
.modal-form__checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;

  position: relative;
  display: flex;
  justify-content: center;
}
.modal-form__checkbox a {
  color: #2196f3;
}
input[type='checkbox'] {
  display: none;
}
input[type='checkbox'] + label svg {
  position: absolute;
  top: 5px;
  left: 14px;
  width: 16px;
  height: 15px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 2px;
  fill: #ffffff;
}
input[type='checkbox']:checked + label svg {
  background-color: #2196f3;
  fill: #ffffff;
  border: 1px solid #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 30px;
  margin-left: 25%;
}
.project-cards__btn {
  width: 121px;
  height: 38px;
  color: inherit;
  background-color: #f5f4fa;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.6;
  border: #f5f4fa;
  cursor: pointer;
}
.project-cards__btn:hover,
.project-cards__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.6;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
