body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  font-weight: 400;
  font-style: normal;
}
ul {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.test {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-item:first-child {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.nav-item:nth-child(n + 2) {
  margin-right: 46px;
}
.cnav-item:first-child {
  margin-right: 30px;
}
a > svg {
  margin-right: 10px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header-borders {
  border-bottom: 1px solid #ececec;
}
.navigation {
  color: #212121;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.navigation-button {
  color: inherit;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  font-weight: 500;
}
.active-button {
  color: #2196f3;
}
.navigation-button:hover,
.contacts-button:hover,
.contact-below:hover,
.gps:hover {
  color: #2196f3;
}
.navigation-button:focus,
.contacts-button:focus,
.contact-below:focus,
.gps:focus {
  color: #2196f3;
}
.contacts-buttons {
  color: #757575;
  list-style: none;
  display: flex;
  align-items: center;
}
.contacts-button {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.background-business {
  background: #2f303a
    url(https://github.com/KZapal/goit-markup-hw-04/blob/main/images/effective_solutions/people_at_work.jpg?raw=true)
    50% 50%;
}
.business-block {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 97px;
  padding-bottom: 97px;
}
.your-business {
  color: #ffffff;
  width: 600px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 30px;
}
.order-service {
  background: #2196f3;
  border: 0px solid #2196f3;
  border-radius: 4px 4px 4px 4px;
  padding: 10px 41px 10px 42px;
  width: 200px;
  height: 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
}
.lorem-position {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px;
  list-style: none;
  align-content: space-between;
}
.lorem-list-item {
  flex-basis: calc((100% - 90px) / 4);
}
.lorem-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}
.lorem-text {
  color: #757575;
  font-size: 14px;
  line-height: 1, 5;
  margin: 10px auto;
}
.what-we-do {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 94px;
}
.we-do-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-left: 0 auto;
}
.we-do-item:nth-child(-n + 2) {
  margin-right: 30px;
}
.team-background {
  background: #f5f4fa;
}
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 49px;
}
.team-list-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  padding: 0px;
  list-style: none;
  text-align: center;
}
.team-list-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}
.member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.job-position {
  color: #757575;
  font-size: 16px;
  line-height: 1.2;
}
.description-below {
  background-color: #2f303a;
}
.gps {
  color: #ffffff;
}
.contacts-below {
  color: #757575;
  list-style: none;
}
.contact-below {
  color: inherit;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
.logo-below {
  padding-top: 60px;
  margin-bottom: 20px;
  margin-top: 0px;
}
.contact-item-below:nth-child(-n + 2) {
  margin-bottom: 9px;
}
.contact-item-below:last-child {
  padding-bottom: 60px;
}
.blue-part {
  color: #2196f3;
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
}
.white-part {
  color: #ffffff;
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
}
.black-part {
  color: #000000;
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
}
.project-categories {
  display: flex;
  list-style: none;
  margin-bottom: 50px;
  justify-content: center;
}
.category-item:nth-child(-n + 4) {
  margin-right: 8px;
}
.category-button {
  color: inherit;
  background-color: #f5f4fa;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: #f5f4fa;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
}
.category-button:hover,
.category-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.project-type {
  color: #757575;
  font-size: 16px;
  line-height: 2;
}
.our-projects {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  justify-content: space-between;
}
.project-item {
  border: 1px solid #eeeeee;
  border-top: 0px;
  padding: 20px 24px;
  margin-top: -4px;
}
.contacts-icon {
  fill: #757575;
}
.contacts-icon:hover,
.contacts-button:hover {
  fill: #2196f3;
}
.contacts-icon:focus,
.contacts-button:focus {
  fill: #2196f3;
}
.lorem-background {
  background: #f5f4fa;
  padding: 25px 100px;
}
.media-icon-background {
  fill: #afb1b8;
  background: #ffffff;
  display: inline-flex;
  gap: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  margin-bottom: 30px;
}
.media-icon-background:hover {
  fill: #ffffff;
  background: #2196f3;
  padding: 12px;
}
.media-icon-background:focus {
  fill: #ffffff;
  background: #2196f3;
  padding: 12px;
}
