@import 'utils/vars';
@import './components/_global-styles.scss';
@import './components/_main-header';
@import './components/_logo';
@import './components/_service-block';
@import './components/_btn.scss';
@import './components/_testimonials';
@import './components/_work-gallery';
@import './components/_team-section';
@import './components/_clients-section';
@import './components/main-footer';
