.adress-links {
  margin-bottom: 0;
  padding-bottom: 60px;
  &__item {
    font-size: $RegularFontSize;
  }
  &__item:nth-child(-n + 2) {
    margin-bottom: 8px;
  }
  &__link {
    color: getColor('secondary');
  }
  &__link--gps {
    color: getColor('accentLight');
  }
  &__link:hover,
  &__link:focus,
  &__link--gps:hover,
  &__link--gps:focus {
    color: getColor('accent');
    transition: $trans;
  }
}

@media (min-width: 1200px) {
  .adress-links {
    &__item:nth-child(-n + 2) {
      margin-bottom: 9px;
    }
  }
}
