@import './clients-list';

.clients-section {
  &__heading {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  &__list {
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    gap: 30px;
    cursor: pointer;
  }
}

@media (min-width: 1200px) {
  .clients-section {
    &__heading {
      margin-bottom: 50px;
    }
    &__list {
      display: flex;
      flex-flow: row-reverse nowrap;
      justify-content: space-between;
      cursor: pointer;
    }
  }
}
