/** .contacts-links {
  &__item {
    &:first-child {
      margin-right: 30px;
    }
  }
  &__link {
    color: inherit;
    @include flex;
    fill: getColor('secondary');
  }
  &__link:hover,
  &__link:focus {
    color: getColor('accent');
    fill: getColor('accent');
    transition: '$trans';
  }
  &__icon {
    margin-right: 10px;
  }
} **/
