.contacts-links {
  &__link {
    color: inherit;
    fill: getColor('secondary');
  }
  &__link:hover,
  &__link:focus {
    color: getColor('accent');
    fill: getColor('accent');
    transition: '$trans';
  }
}

@media (min-width: 768px) {
  .contacts-links {
    font-size: $RegularFontSize - 2px;
    font-weight: $MediumFontWeight;
    letter-spacing: 0.24px;

    &__icon {
      margin-right: 8px;
    }
  }
}

@media (min-width: 1199px) {
  .contacts-links {
    font-size: $RegularFontSize;
    letter-spacing: 0.028px;
    &__item {
      &:first-child {
        margin-right: 30px;
      }
    }
    &__link {
      @include flex;
    }
    &__icon {
      margin-right: 10px;
    }
  }
}
