.container {
  width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .containter {
    width: 1200px;
    padding: 0;
  }
}
