@import './containers';
@import './sections';

body {
  font-family: $FontFamily;
  color: getColor(' primary ');
  font-weight: $SmallFontWeight;
  overflow-x: hidden;
}

ul,
menu,
address {
  font-style: normal;
  list-style: none;
  padding: 0;
  margin: 0;
}

h2 {
  font-weight: $BigFontWeight;
  font-size: $RegularFontSize + 20px;
  line-height: 1.7;
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
