.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  font-weight: $BigFontWeight;

  &__blue-part {
    color: getColor('accent');
  }
  &__white-part {
    color: getColor('accentLight');
  }
  &__black-part {
    color: getColor('accentDark');
  }
}
