.logo {
  font-family: 'Raleway', sans-serif;
  font-size: $GreaterFontSize + 10px;
  line-height: 1.2;
  font-weight: $BigFontWeight;

  &__blue-part {
    color: getColor('accent');
  }
  &__white-part {
    color: getColor('accentLight');
  }
  &__black-part {
    color: getColor('accentDark');
  }
  &--below {
    padding-top: 60px;
    margin-bottom: 20px;
    margin-top: 0px;
  }
}
