.lorem-list {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc((100% - 90px) / 4);
  }
  &__background {
    background: getColor('third');
    padding: 25px 190px;
  }
  &__title {
    font-weight: $BigFontWeight;
    font-size: $RegularFontSize;
    line-height: 1.1;
    text-align: start;
    margin-bottom: 0;
    margin-top: 30px;
  }
  &__paragraph {
    color: getColor('secondary');
    font-size: $RegularFontSize;
    line-height: 1.7;
    margin: 10px auto;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .lorem-list {
    &__background {
      padding: 25px 142px;
    }
  }
}

@media (min-width: 1200px) {
  .lorem-list {
    &__background {
      padding: 25px 100px;
    }
  }
}
