@import './adress-links';
@import './social-media';
@import './newsletter-form';

.main-footer {
  background-color: #2f303a;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
    text-align: center;
    gap: 60px;
  }
  &__adress-links {
    padding: 0;
  }
  &__social-media {
    gap: 10px;
  }
  &__form {
    padding-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .main-footer {
    &__content {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}
