@import './page-links';
@import './contacts-links';

/** .main-header {
  border-bottom: 1px solid #ececec;

  &__content {
    @include flex;
    justify-content: space-between;
    font-weight: $MediumFontWeight;
  }

  &__page-links {
    color: getColor(' primary ');
    @include flex;
    margin: 0;
    padding: 0;
  }
  &__contacts-links {
    color: getColor('secondary');
    @include flex;
  }
} **/
@media (max-width: 767px) {
  .main-header {
    &__content {
      @include flex;
      justify-content: space-between;
    }
    &__contacts-links {
      display: none;
    }
    &__menu-button {
      padding: 0;
      border: 0;
      background: getColor('accentLight');
      margin: 10px;
      &:focus,
      &:hover {
        fill: getColor('accent');
        transition: $trans;
      }
    }
  }
}
