@import './page-links';
@import './contacts-links';

.main-header {
  border-bottom: 1px solid #ececec;

  &__content {
    @include flex;
    justify-content: space-between;
    font-weight: $MediumFontWeight;
  }

  &__page-links {
    color: getColor(' primary ');
    @include flex;
    margin: 0;
    padding: 0;
  }
  &__contacts-links {
    color: getColor('secondary');
    @include flex;
  }
}
