.newsletter-form {
  &__heading {
    font-weight: $BigFontWeight;
    font-size: $RegularFontSize;
    line-height: 1.1;
    margin-bottom: 20px;
    color: getColor(accentLight);
  }
  &__input {
    color: getColor(accentLight);
    width: 358px;
    height: 50px;
    border: 1px solid #ffffff4d;
    border-radius: 4px;
    outline: none;
    background-color: inherit;
    padding-left: 16px;
    margin-right: 12px;
  }
  &__input:focus {
    border: 1px solid getColor('accent');
    transition: $trans;
  }
  &__btn {
    @include flex;
    text-align: center;
    justify-content: center;
    gap: 24px;
  }
  &__send-icon {
    fill: getColor('accentLight');
  }
}
