.page-links {
  &__link {
    color: inherit;
    font-size: $RegularFontSize;
    line-height: 1.1;
    font-weight: $MediumFontWeight;
  }
  &__link:hover,
  &__link:focus {
    color: getColor('accent');
    fill: getColor('accent');
    transition: $trans;
  }
  &__link--active-index {
    color: getColor('accent');

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 54px;
      height: 4px;
      background-color: getColor('accent');
      border-radius: 2px;
      margin-top: 28px;
    }
  }
  &__link--active-portfolio {
    color: getColor('accent');

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 58px;
      height: 4px;
      background-color: getColor('accent');
      border-radius: 2px;
      margin-top: 28px;
    }
  }
}

@media (max-width: 767px) {
  .page-links {
    &__item {
      &:not(:first-child) {
        display: none;
      }
    }
  }
}

@media (min-width: 768px) {
  .page-links {
    &__item {
      &:first-child {
        padding-top: 26px;
        padding-bottom: 26px;
        margin-right: 83px;
      }
      &:nth-child(n + 2) {
        margin-right: 60px;
      }
    }
  }
}
