@media (max-width: 767px) {
  .service-block {
    background-image: linear-gradient(#2f303a66, #2f303a66),
      url(https://github.com/KZapal/goit-markup-hw-04/blob/main/images/effective_solutions/people_at_work.jpg?raw=true);
    background-color: #2f303a66;
    max-width: 767px;
    min-width: 480px;
    height: 400px;
    background-size: cover;
    background-position: center;
    padding-top: 118px;
    padding-bottom: 118px;
    margin: auto;

    &__content {
      box-sizing: content-box;
      @include flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 0px;
    }

    &__heading {
      color: getColor('accentLight');
      width: 365px;
      font-weight: $BigBFontWeight;
      font-size: $GreaterFontSize + 10px;
      line-height: 1.6;
      letter-spacing: 0.06em;
      text-align: center;
      margin-bottom: 30px;
      margin-top: 0;
    }

    &__btn {
      padding: 10px 41px 10px 42px;
      font-weight: $BigFontWeight;
      font-size: $RegularFontSize;
      line-height: 1.9;
    }
  }
}
