@import './members-lists';

.team-section {
  background: getColor('third');

  &__heading {
    margin-top: 0;
    margin-bottom: 30px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px;
    text-align: center;
  }
}
