@import './members-lists';

.team-section {
  background: getColor('third');

  &__heading {
    margin-top: 0;
    margin-bottom: 30px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .team-section {
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
