@import './list-images';

.work-gallery {
  display: none;
  padding-top: 0;

  &__heading {
    margin-bottom: 50px;
    margin-top: 94px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    margin-left: 0 auto;
  }
}
