$colors: (
  'primary': #212121,
  'secondary': #757575,
  'third': #f5f4fa,
  'accent': #2196f3,
  'accentLight': #ffffff,
  'accentDark': #000000,
);
@function getColor($key) {
  @return map-get($colors, $key);
}

$FontFamily: 'Roboto', sans-serif;
$BigBFontWeight: 900;
$BigFontWeight: 700;
$MediumFontWeight: 500;
$SmallFontWeight: 400;
$trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);

@mixin flex($direction: row, $align: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
}
